
:root {
	--body:#0a4d2e;
	--shadow:#11802d;
	--outline:#052519;
}
body {
	position: relative;
}
.amogus {
	width: 100%;
	height: 100%;
	position: absolute;
    overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.crewmate-container {
	pointer-events: none;
}
.crewmate {
	width: 40px;
	position: absolute;
	top: 0;
	left: 0;
}
.crewmate > svg {
	width: 100%;
}
/* layering */
.rbpbduva.p00k3eym.s2xhriuh.lvqykqo5.se9zvvl8.m98qiilh.dlvx4kqw.dnsy10im.gzlw2da8.niumf9i0.ct0gonzb.qa94a3ay.rzh9kqjf.s4rrrcul.orocs0gv.oncswdae.qs98hkve.oasyxld9.mm8y8im2.mnbq7hy4,
.j0w2kb1n.l8yeckdy.hcbh85ta.cqwkjfc6.rezhw0dz.nmxi6925.o200iux9.m5huqoh2.rtg8rq90.bkmd7nb6.e0i9t92k.a5babw7g.s3aypnj4.tn1datze.ac3imm9t.c3cxe1zt.f1y601m5.dbqign6t > .zy2wb8vn:only-child > .zy2wb8vn:last-child,
.j0w2kb1n.l8yeckdy.hcbh85ta.cqwkjfc6.rezhw0dz.nmxi6925.o200iux9.m5huqoh2.rtg8rq90.bkmd7nb6.e0i9t92k.a5babw7g.s3aypnj4.tn1datze.ac3imm9t.c3cxe1zt.f1y601m5.dbqign6t > .zy2wb8vn:not(:first-child),
.n6nr5421.nssqktjk.fh22mubf.j0w2kb1n.lkmrerkz.rdu385c6.m26cuhsb.king5eyy.f37mjpob.fx20jh09.l705qbmv.cn1rcxxu.nwju8dfz.m3dshmnk.ni08datl.rza8ds88.igx2c2ob {
	z-index: 2;
	position: relative;
}
.j8z878h6.jqilron1  .zy2wb8vn > .zy2wb8vn,
.n6nr5421.nssqktjk.fh22mubf.j0w2kb1n.lkmrerkz.rdu385c6.ck059dqs.h3lssomv.i5bl5sl2.cuipup2c.cn1rcxxu.nwju8dfz.ni08datl.rza8ds88,
.n6nr5421.nssqktjk.fh22mubf.j0w2kb1n.lkmrerkz.rdu385c6.m26cuhsb.king5eyy.llqwynth.igx2c2ob.j8guocqk.fx20jh09.f5rco164.cn1rcxxu.nwju8dfz.m3dshmnk.ni08datl.rza8ds88 {
	z-index: 2;
}
.to9eziad.r9xa5q5p.jqoplflx.ekfcdm8d.ovrtqkxj.seboi1wu.e5o3ril4.q2kvwmaf.on84hntq.l6nzjg3z.axtvh5ab {
	z-index: 4;
	position: relative;
}